Importar libreriras

In [1]:
import csv
import numpy as np

In [2]:
np.__version__

'1.23.3'

Abrir el archivo csv

In [3]:
with open('calificaciones_v1.csv','r') as file:
    data = list(csv.reader(file,delimiter = ','))

In [4]:
type(data)

list

Convertir a ndarray

In [5]:
data = np.array(data)

In [6]:
type(data)

numpy.ndarray

In [7]:
data[:10,:]

array([['matricula', '11111111'],
       ['nombre', 'Alumno 1'],
       ['grupo', 'TI11'],
       ['Materia 1', '1'],
       ['Materia 2', '8'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111112']], dtype='<U9')

## Obtener la califiaciones (primer columna del array)

In [8]:
cabeceras = data.T[0] #transpone la columna 0 a una fila

In [9]:
cabeceras[:15]

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula',
       'nombre', 'grupo', 'Materia 1', 'Materia 2', 'Materia 3'],
      dtype='<U9')

## Contar las cabeceras

In [10]:
cabeceras.size

396

In [11]:
np.unique(cabeceras) #saber los valores unicos

array(['Materia 1', 'Materia 2', 'Materia 3', 'Materia 4', 'Materia 5',
       'estado', 'grupo', 'matricula', 'nombre'], dtype='<U9')

In [12]:
np.unique(cabeceras).size

9

## pbtener las cabeceras

In [13]:
cabeceras = cabeceras[:9]
cabeceras

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado'], dtype='<U9')

# Calcular el numero de registros

In [14]:
numero_cabecera = cabeceras.size
numero_cabecera

9

In [15]:
no_registros = data.T[0].size
no_registros

396

In [16]:
filas = no_registros/numero_cabecera
filas

44.0

# eliminar las cabeceras del array

In [17]:
data_sin_cabeceras = np.delete(data, 0,1) #1=columns , 0=rows

In [18]:
data_sin_cabeceras[:10]

array([['11111111'],
       ['Alumno 1'],
       ['TI11'],
       ['1'],
       ['8'],
       ['1'],
       ['7'],
       ['2'],
       ['regular'],
       ['11111112']], dtype='<U9')

In [19]:
data_sin_cabeceras.shape

(396, 1)

# Cambiar la forma del array

In [20]:
data_sin_cabeceras = data_sin_cabeceras.reshape(int(filas),int(numero_cabecera))

In [21]:
data_sin_cabeceras.shape

(44, 9)

In [22]:
data_sin_cabeceras[:5]

array([['11111111', 'Alumno 1', 'TI11', '1', '8', '1', '7', '2',
        'regular'],
       ['11111112', 'Alumno 2', 'TI11', '10', '7', '1', '8', '5',
        'regular'],
       ['11111113', 'Alumno 3', 'TI11', '4', '1', '1', '3', '0',
        'regular'],
       ['11111114', 'Alumno 4', 'TI11', '5', '4', '3', '2', '7',
        'regular'],
       ['11111115', 'Alumno 5', 'TI11', '9', '10', '3', '9', '2',
        'regular']], dtype='<U9')

# Separa datos de los alumnos

In [23]:
# tomar toas las filas y solo las 3 primeras columnas
datos_alumnos = np.array(data_sin_cabeceras[:,:3])

In [24]:
datos_alumnos[:10]

array([['11111111', 'Alumno 1', 'TI11'],
       ['11111112', 'Alumno 2', 'TI11'],
       ['11111113', 'Alumno 3', 'TI11'],
       ['11111114', 'Alumno 4', 'TI11'],
       ['11111115', 'Alumno 5', 'TI11'],
       ['11111116', 'Alumno 6', 'TI11'],
       ['11111117', 'Alumno 7', 'TI11'],
       ['11111118', 'Alumno 8', 'TI11'],
       ['11111119', 'Alumno 9', 'TI11'],
       ['11111120', 'Alumno 10', 'TI11']], dtype='<U9')

# seoarar calificaciones de los alumnos

In [25]:
calificacoines_alumnos = np.array(data_sin_cabeceras[:,3:8], dtype = float)

In [26]:
calificacoines_alumnos[:5] #ver las primeras 5 calificcaciones de las primeras 5 filas

array([[ 1.,  8.,  1.,  7.,  2.],
       [10.,  7.,  1.,  8.,  5.],
       [ 4.,  1.,  1.,  3.,  0.],
       [ 5.,  4.,  3.,  2.,  7.],
       [ 9., 10.,  3.,  9.,  2.]])

In [27]:
calificacoines_alumnos.shape #ver la forma del array

(44, 5)

# calcular el promedio

In [28]:
promedio = []
for index in range(int(filas)):
    promedio.append(["regular",calificacoines_alumnos[index].min()])

promedio = np.array(promedio)

In [29]:
promedio[:5]

array([['regular', '1.0'],
       ['regular', '1.0'],
       ['regular', '0.0'],
       ['regular', '2.0'],
       ['regular', '2.0']], dtype='<U32')

In [30]:
promedio.shape

(44, 2)

# unir los  arreglos

In [31]:
todos = np.concatenate((datos_alumnos,calificacoines_alumnos,promedio),axis=1,dtype=str)

In [32]:
todos[:5]

array([['11111111', 'Alumno 1', 'TI11', '1.0', '8.0', '1.0', '7.0',
        '2.0', 'regular', '1.0'],
       ['11111112', 'Alumno 2', 'TI11', '10.0', '7.0', '1.0', '8.0',
        '5.0', 'regular', '1.0'],
       ['11111113', 'Alumno 3', 'TI11', '4.0', '1.0', '1.0', '3.0',
        '0.0', 'regular', '0.0'],
       ['11111114', 'Alumno 4', 'TI11', '5.0', '4.0', '3.0', '2.0',
        '7.0', 'regular', '2.0'],
       ['11111115', 'Alumno 5', 'TI11', '9.0', '10.0', '3.0', '9.0',
        '2.0', 'regular', '2.0']], dtype='<U32')

# Unir cabeceras

In [33]:
cabeceras

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado'], dtype='<U9')

In [34]:
cabeceras = np.concatenate((cabeceras,['promedio']),axis=0,dtype=str)

In [35]:
cabeceras

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'promedio'],
      dtype='<U9')

In [36]:
cabeceras.shape

(10,)

In [37]:
todos = np.concatenate(([cabeceras],todos),axis=0,dtype=str)

In [38]:
todos

array([['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
        'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'promedio'],
       ['11111111', 'Alumno 1', 'TI11', '1.0', '8.0', '1.0', '7.0',
        '2.0', 'regular', '1.0'],
       ['11111112', 'Alumno 2', 'TI11', '10.0', '7.0', '1.0', '8.0',
        '5.0', 'regular', '1.0'],
       ['11111113', 'Alumno 3', 'TI11', '4.0', '1.0', '1.0', '3.0',
        '0.0', 'regular', '0.0'],
       ['11111114', 'Alumno 4', 'TI11', '5.0', '4.0', '3.0', '2.0',
        '7.0', 'regular', '2.0'],
       ['11111115', 'Alumno 5', 'TI11', '9.0', '10.0', '3.0', '9.0',
        '2.0', 'regular', '2.0'],
       ['11111116', 'Alumno 6', 'TI11', '1.0', '3.0', '8.0', '1.0',
        '7.0', 'regular', '1.0'],
       ['11111117', 'Alumno 7', 'TI11', '4.0', '7.0', '1.0', '6.0',
        '5.0', 'regular', '1.0'],
       ['11111118', 'Alumno 8', 'TI11', '10.0', '1.0', '7.0', '10.0',
        '0.0', 'regular', '0.0'],
       ['11111119', 'Alumno 9', 'TI11', '5.0', '5.0', '4.0', '0.0',
        '3.0', 'regular', '0.0'],
       ['11111120', 'Alumno 10', 'TI11', '5.0', '7.0', '3.0', '3.0',
        '4.0', 'regular', '3.0'],
       ['11111121', 'Alumno 11', 'TI11', '6.0', '1.0', '3.0', '7.0',
        '0.0', 'regular', '0.0'],
       ['11111122', 'Alumno 12', 'TI11', '7.0', '2.0', '5.0', '4.0',
        '5.0', 'regular', '2.0'],
       ['11111123', 'Alumno 13', 'TI12', '5.0', '2.0', '3.0', '0.0',
        '1.0', 'regular', '0.0'],
       ['11111124', 'Alumno 14', 'TI12', '5.0', '2.0', '10.0', '0.0',
        '6.0', 'regular', '0.0'],
       ['11111125', 'Alumno 15', 'TI12', '9.0', '9.0', '1.0', '3.0',
        '1.0', 'regular', '1.0'],
       ['11111126', 'Alumno 16', 'TI12', '1.0', '2.0', '1.0', '7.0',
        '7.0', 'regular', '1.0'],
       ['11111127', 'Alumno 17', 'TI12', '0.0', '2.0', '1.0', '0.0',
        '2.0', 'regular', '0.0'],
       ['11111128', 'Alumno 18', 'TI12', '0.0', '1.0', '4.0', '7.0',
        '6.0', 'regular', '0.0'],
       ['11111129', 'Alumno 19', 'TI12', '0.0', '8.0', '7.0', '8.0',
        '2.0', 'regular', '0.0'],
       ['11111130', 'Alumno 20', 'TI12', '4.0', '0.0', '5.0', '0.0',
        '4.0', 'regular', '0.0'],
       ['11111131', 'Alumno 21', 'TI12', '6.0', '4.0', '2.0', '10.0',
        '10.0', 'regular', '2.0'],
       ['11111132', 'Alumno 22', 'TI12', '5.0', '6.0', '9.0', '0.0',
        '3.0', 'regular', '0.0'],
       ['11111133', 'Alumno 23', 'TI12', '1.0', '9.0', '7.0', '7.0',
        '6.0', 'regular', '1.0'],
       ['11111134', 'Alumno 24', 'TI41', '4.0', '0.0', '10.0', '7.0',
        '0.0', 'regular', '0.0'],
       ['11111135', 'Alumno 25', 'TI41', '3.0', '3.0', '0.0', '8.0',
        '5.0', 'regular', '0.0'],
       ['11111136', 'Alumno 26', 'TI41', '0.0', '5.0', '7.0', '2.0',
        '1.0', 'regular', '0.0'],
       ['11111137', 'Alumno 27', 'TI41', '0.0', '0.0', '6.0', '0.0',
        '5.0', 'regular', '0.0'],
       ['11111138', 'Alumno 28', 'TI41', '9.0', '3.0', '10.0', '9.0',
        '6.0', 'regular', '3.0'],
       ['11111139', 'Alumno 29', 'TI41', '0.0', '5.0', '1.0', '10.0',
        '1.0', 'regular', '0.0'],
       ['11111140', 'Alumno 30', 'TI41', '3.0', '3.0', '5.0', '9.0',
        '9.0', 'regular', '3.0'],
       ['11111141', 'Alumno 31', 'TI41', '10.0', '10.0', '4.0', '1.0',
        '4.0', 'regular', '1.0'],
       ['11111142', 'Alumno 32', 'TI41', '6.0', '0.0', '5.0', '3.0',
        '2.0', 'regular', '0.0'],
       ['11111143', 'Alumno 33', 'IDGS91', '0.0', '4.0', '1.0', '7.0',
        '9.0', 'regular', '0.0'],
       ['11111144', 'Alumno 34', 'IDGS91', '1.0', '1.0', '2.0', '3.0',
        '8.0', 'regular', '1.0'],
       ['11111145', 'Alumno 35', 'IDGS91', '0.0', '7.0', '10.0', '7.0',
        '7.0', 'regular', '0.0'],
       ['11111146', 'Alumno 36', 'IDGS91', '7.0', '1.0', '4.0', '0.0',
        '6.0', 'regular', '0.0'],
       ['11111150', 'Alumno 40', 'IDGS91', '1.0', '0.0', '3.0', '4.0',
        '10.0', 'regular', '0.0'],
       ['11111151', 'Alumno 41', 'IDGS91', '6.0', '5.0', '1.0', '5.0',
        '9.0', 'regular', '1.0'],
       ['11111152', 'Alumno 42', 'IDGS91', '2.0', '0.0', '9.0', '9.0',
        '5.0', 'regular', '0.0'],
       ['11111153', 'Alumno 43', 'IDGS91', '3.0', '4.0', '0.0', '0.0',
        '0.0', 'regular', '0.0'],
       ['11111154', 'Alumno 44', 'IDGS91', '3.0', '1.0', '1.0', '7.0',
        '10.0', 'regular', '1.0'],
       ['11111155', 'Alumno 45', 'IDGS91', '4.0', '1.0', '2.0', '8.0',
        '6.0', 'regular', '1.0'],
       ['11111156', 'Alumno 46', 'IDGS71', '10.0', '1.0', '10.0', '0.0',
        '7.0', 'regular', '0.0'],
       ['11111157', 'Alumno 47', 'IDGS71', '9.0', '10.0', '1.0', '3.0',
        '9.0', 'regular', '1.0']], dtype='<U32')

In [39]:
todos.shape

(45, 10)

# exportar a csv

In [40]:
row = [f'{c0},{c1},{c2},{c3},{c4},{c5},{c6},{c7},{c8},{c9}' for c0, c1, c2, c3, c4, c5, c6, c7, c8, c9 in todos]
text = '\n'.join(row)
with open("archivo2.csv","w") as file:
    file.write(text)