## Kevin Israel Lopez Mendoza    1719110155  25 de actubre del 2022

#### En la universidad "ACME" se desea calcular el promedio de cada uno de los alumnos, y el área de control escolar genero el archivo calificaciones_v2.csv para calcular el promedio por alumno, y tener un archivo con formato similar al archivo calificaciones_promedio_v2.csv.

## Librerias

In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
pd.__version__

'1.5.0'

In [3]:
np.__version__

'1.23.3'

In [4]:
csv.__version__

'1.0'

# Abrir el archivo con Pandas

In [5]:
file = pd.read_csv("calificaciones_v2.csv")
file

     matricula  11111111
0       nombre  Alumno 1
1        grupo      TI11
2    Materia 1         1
3    Materia 2         8
4    Materia 3         1
..         ...       ...
428  Materia 3        10
429  Materia 4         6
430  Materia 5         8
431  Materia 6        10
432     estado   regular

[433 rows x 2 columns]

### Muestrar los primeros registros del datos frame

In [6]:
file.head(12)

    matricula  11111111
0      nombre  Alumno 1
1       grupo      TI11
2   Materia 1         1
3   Materia 2         8
4   Materia 3         1
5   Materia 4         7
6   Materia 5         2
7   Materia 5         2
8      estado   regular
9   matricula  11111112
10     nombre  Alumno 2
11      grupo      TI11

## Mostrar los ultimos registros del datosframe

In [7]:
file.tail(10)

     matricula   11111111
423  matricula   11111158
424     nombre  Alumno 48
425      grupo     IDGS71
426  Materia 1          4
427  Materia 2          4
428  Materia 3         10
429  Materia 4          6
430  Materia 5          8
431  Materia 6         10
432     estado    regular

# Eliminar los datos de mas del datos frame

In [8]:
file = file.drop([7],axis=0)
file.head(8)

   matricula  11111111
0     nombre  Alumno 1
1      grupo      TI11
2  Materia 1         1
3  Materia 2         8
4  Materia 3         1
5  Materia 4         7
6  Materia 5         2
8     estado   regular

In [9]:
file = file.drop([431],axis=0)
file.tail(9)

     matricula   11111111
423  matricula   11111158
424     nombre  Alumno 48
425      grupo     IDGS71
426  Materia 1          4
427  Materia 2          4
428  Materia 3         10
429  Materia 4          6
430  Materia 5          8
432     estado    regular

In [10]:
file = file.drop([106],axis=0)
file = file.drop([107],axis=0)

## Exportar datosframe a csv

In [11]:
new_file = file.to_csv("calificaciones_v2_modificado.csv")

# Abrir el nuevo archivo con numpy

In [12]:
with open("calificaciones_v2_modificado.csv","r") as file:
    datos = list(csv.reader(file,delimiter=","))

In [13]:
type(datos)

list

### Convertir a array

In [14]:
datos = np.array(datos)

In [15]:
datos[:10,:]

array([['', 'matricula', '11111111'],
       ['0', 'nombre', 'Alumno 1'],
       ['1', 'grupo', 'TI11'],
       ['2', 'Materia 1', '1'],
       ['3', 'Materia 2', '8'],
       ['4', 'Materia 3', '1'],
       ['5', 'Materia 4', '7'],
       ['6', 'Materia 5', '2'],
       ['8', 'estado', 'regular'],
       ['9', 'matricula', '11111112']], dtype='<U9')

## Eliminar la primer columna

In [16]:
filtro = np.array([False, True, True])
datos = datos[:,filtro]

In [17]:
datos[:10,:]

array([['matricula', '11111111'],
       ['nombre', 'Alumno 1'],
       ['grupo', 'TI11'],
       ['Materia 1', '1'],
       ['Materia 2', '8'],
       ['Materia 3', '1'],
       ['Materia 4', '7'],
       ['Materia 5', '2'],
       ['estado', 'regular'],
       ['matricula', '11111112']], dtype='<U9')

## Obtener cabeceras

In [18]:
cabeceras = datos.T[0]
cabeceras[:10]

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado', 'matricula'],
      dtype='<U9')

## Conteo de las cabeceras

In [19]:
cabeceras.size

430

In [20]:
np.unique(cabeceras).size

9

## Obtener las cabeceras

In [21]:
cabeceras = cabeceras[:9]
cabeceras

array(['matricula', 'nombre', 'grupo', 'Materia 1', 'Materia 2',
       'Materia 3', 'Materia 4', 'Materia 5', 'estado'], dtype='<U9')

## Caccular el numero de registros

In [22]:
no_cabeceras = cabeceras.size
no_cabeceras

9

In [23]:
no_registros = datos.T[0].size
no_registros

430

In [24]:
filas = no_registros / no_cabeceras
filas

47.77777777777778

## Eliminar ceberas de array

In [25]:
filtro = np.array([False, True])
datos = datos[:,filtro]

In [26]:
datos[:10]

array([['11111111'],
       ['Alumno 1'],
       ['TI11'],
       ['1'],
       ['8'],
       ['1'],
       ['7'],
       ['2'],
       ['regular'],
       ['11111112']], dtype='<U9')

In [27]:
datos.shape

(430, 1)

## Rechape del array

In [28]:
datos = datos.reshape(int(filas),int(no_cabeceras))
datos[10:15]

ValueError: cannot reshape array of size 430 into shape (47,9)

In [ ]:
datos.shape

(48, 9)

## Separar datos del los alumnos

In [ ]:
datos_alumnos = np.array(datos[:,:3])
datos_alumnos[:5]

array([['11111111', 'Alumno 1', 'TI11'],
       ['11111112', 'Alumno 2', 'TI11'],
       ['11111113', 'Alumno 3', 'TI11'],
       ['11111114', 'Alumno 4', 'TI11'],
       ['11111115', 'Alumno 5', 'TI11']], dtype='<U9')

## modificar datos vacios

In [ ]:
dataframe = pd.DataFrame(data = datos,columns=cabeceras, dtype= str)

In [ ]:
dataframe

,matricula,nombre,grupo,Materia 1,Materia 2,Materia 3,Materia 4,Materia 5,estado
0,11111111,Alumno 1,TI11,1,8,1,7,2,regular
1,11111112,Alumno 2,TI11,10,7,1,8,5,regular
2,11111113,Alumno 3,TI11,,1,1,3,0,regular
3,11111114,Alumno 4,TI11,,4,3,2,7,regular
4,11111115,Alumno 5,TI11,9,10,3,9,2,regular
5,11111116,Alumno 6,TI11,1,3,8,1,7,regular
6,11111117,Alumno 7,TI11,4,7,1,6,5,regular
7,11111118,Alumno 8,TI11,10,1,7,10,0,regular
8,11111119,Alumno 9,TI11,5,5,4,0,3,regular
9,11111120,Alumno 10,TI11,5,7,3,3,4,regular
10,11111121,Alumno 11,TI11,6,1,3,7,0,regular
11,11111122,Alumno 12,TI11,7,2,5,4,5,4
12,5,regular,11111123,Alumno 13,TI12,5,2,3,0
13,1,regular,11111124,Alumno 14,TI12,5,2,10,0
14,6,regular,11111125,Alumno 15,TI12,9,9,1,3
15,1,regular,11111126,Alumno 16,TI12,1,2,1,7
16,7,regular,11111127,Alumno 17,TI12,0,2,1,0
17,2,regular,11111128,Alumno 18,TI12,0,1,4,7
18,6,regular,11111129,Alumno 19,TI12,0,8,7,8
19,2,regular,11111130,Alumno 20,TI12,4,0,5,0
20,4,regular,11111131,Alumno 21,TI12,6,4,2,10
21,10,regular,11111132,Alumno 22,TI12,5,6,9,0
22,3,regular,11111133,Alumno 23,TI12,1,9,7,7
23,6,regular,11111134,Alumno 24,TI41,4,0,10,7
24,0,regular,11111135,Alumno 25,TI41,3,3,0,8
25,5,regular,11111136,Alumno 26,TI41,0,5,7,2
26,regular,11111137,Alumno 27,TI41,0,0,6,0,5
27,regular,11111138,Alumno 28,TI41,9,3,10,9,6
28,regular,11111139,Alumno 29,TI41,0,5,1,10,1
29,regular,11111140,Alumno 30,TI41,3,3,5,9,9
30,regular,11111141,Alumno 31,TI41,10,10,4,1,4
31,regular,11111142,Alumno 32,TI41,6,0,5,3,2
32,regular,11111143,Alumno 33,IDGS91,0,4,1,7,9
33,regular,11111144,Alumno 34,IDGS91,1,1,2,3,8
34,regular,11111145,Alumno 35,IDGS91,0,7,10,7,7
35,regular,11111146,Alumno 36,IDGS91,7,1,4,0,6
36,11111147,Alumno 37,IDGS91,6,6,4,3,0,regular
37,11111148,Alumno 38,IDGS91,0,6,6,3,5,regular
38,11111149,Alumno 39,IDGS91,8,7,9,5,2,regular
39,11111150,Alumno 40,IDGS91,1,0,3,4,10,regular
40,11111151,Alumno 41,IDGS91,6,5,1,5,9,regular
41,11111152,Alumno 42,IDGS91,2,0,9,9,5,regular
42,11111153,Alumno 43,IDGS91,3,4,0,0,0,regular
43,11111154,Alumno 44,IDGS91,3,1,1,7,10,regular
44,11111155,Alumno 45,IDGS91,4,1,2,8,6,regular
45,11111156,Alumno 46,IDGS71,10,1,10,0,7,regular
46,11111157,Alumno 47,IDGS71,9,10,1,3,9,regular
47,11111158,Alumno 48,IDGS71,4,4,10,6,8,regular