# Manejo de Datos Nulos

## Creacion de dataframe

In [1]:
import pandas as pd
import numpy as np

In [2]:
dict = {
    "Col1": [1, 2, 3, np.nan],
    "Col2": [4, np.nan, 6, 7],
    "Col3": ["a", "b", "c", None],
}

In [3]:
df = pd.DataFrame(dict)
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

## identifcar datos nulos

In [4]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

## identificar datos nulos con un valor numerico

In [5]:
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

## identificar datos nulos con un texto

In [6]:
df.fillna("Missing")

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

## Eliminar valores nulos

In [11]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c